<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Code</title>
    
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-3">
	
	
	<div class="well">
	  <div align="center">
	    <h1>Robot Hackathon</h1>
	
	    <form action="view" method="get" target="_blank">
	      1. Type of Robot Move: <input id="trick" type="text" name="trick"><br>
	      2. Distance: <input id="distance" type="number" name="x"><br>
	      <input id="submit" type="submit" value="Submit">
	    </form>


	  </div>
	</div>

      </div>
    </div>
    <script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript">
    $(document).keydown(function() {
      if (event.keyCode == 87) {
        $("input#trick").val("square");
        $("input#distance").focus();
      }
      if (event.keyCode == 65) {
        $("input#trick").val("hexagon");
        $("input#distance").focus();
      };
      if (event.keyCode == 83) {
        $("input#trick").val("trick");
        $("input#distance").focus();
      };
      if (event.keyCode == 13) {
        $("input.submit").click();
      };
    });
    </script>
  </body>

</html>
